@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;1,900&display=swap');
@import url("https://use.typekit.net/rkn2alv.css");

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bdh--brandon-body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  margin: unset;
}

@keyframes moveLeftRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px); /* Adjust the distance as needed */
  }
}

.bdh--item {
  display: flex;
  align-items: center;
}

.bdh--item > a {
  width: 100%;
  font-size: 3em;
  text-decoration: none;
}

.bdh--headwrap {
  padding: 4em 0;
}

.bdh--intro-inner {
    background: linear-gradient(303deg, #fffde2, #f5f8ff, #fff5f0);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 51s ease infinite;
    -moz-animation: AnimationName 51s ease infinite;
    -o-animation: AnimationName 51s ease infinite;
    animation: AnimationName 51s ease infinite;

  text-align: center;
}

@-webkit-keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}
@keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}

.bdh--details {
  text-decoration: none;
  color: rgb(16, 61, 16);
  text-transform: capitalize;
  position: absolute;
  right: 6em;
}

.bdh--projects-section li {
  border-bottom: 1px solid rgb(16, 61, 16);
}

.bdh--projects-section a {
  display: flex;
  padding: 0.5em;

  &:hover {
    animation: moveLeftRight 2s linear infinite;

  }
}

.bdh--goat {
  width: 8em;
  margin-left: 1em;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: rgb(16, 61, 16);
  padding: 0 1em;
  text-transform: uppercase;
}

h1 {
  color: rgb(16, 61, 16);
  font-size: 1.6em;
  font-weight: 100;
  text-transform: none;
  line-height: 1.8em;
}

h2 {
  font-size: 1em;
}

a {
  color: black;
  &:hover {
    color: black;
  }

  &:visited {
    color: black;
  }
}

p {
  font-size: 1.25rem;
  line-height: 2em;
  padding: 0 1em;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  padding: 1em 5em;
  span {
    margin-right: 1em;
    font-weight: bolder;
  }
}

article {
  padding: 1em 0;
  margin: 0 5em;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

/* Media queries */
@media only screen and (min-width: 900px) {}

@media only screen and (max-width: 899px) {
  h1, h2, p {
    font-size: 1em;
  }
  .bdh--details {
    font-size: .7em;
    right: 3em;
  }
  .bdh--brandon-body {
    padding: 0 1em;
  }
  .bdh--projects-section a {
    flex-wrap: wrap;
  }
  .bdh--item > a {
    font-size: 1.5em;
  }
  article {
   margin: 0;
  }
  nav {
    padding: 1em 0;
  }
}
