@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.pink {
  background-color: #FFADD6;
}

.greeen {
  background-color: #00CC99;
}

.tiny {
  font-size: .5rem;
}

.spin {
  -webkit-animation: spin 60s linear infinite;
          animation: spin 60s linear infinite;

}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {

    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.h3 {
  line-height: 2.7rem;
}
