@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:ital,wght@0,100;0,400;1,900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5f5;
}

/* MOBILE */
.bdh--brandon-body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.bdh--intro-inner {
  text-align: center;
}

.bdh--details {
  font-size: .7em;
  right: 0em;
}

.bdh--projects-section li {
  border-bottom: 1px solid rgb(16, 61, 16);
}

.bdh--projects-section a {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0;
}

.bdh--item > a {
  font-size: 1.5em;
  text-decoration: none;
}

.bdh--details {
  display: block;
  text-decoration: none;
  color: rgb(16, 61, 16);
  text-transform: capitalize;
}

.bdh--name {
  /* position: relative; */
  top: -250px;
}

.bdh--spline {
  height: 20em;
}

.bdh--ladder-wrapper {
  position: absolute;
  z-index: 0;
  top: -2em;
}

.bdh--title {
  font-size: 2em;
  margin: 0;
}

.bdh--introduction-wrapper {
  display: flex;
}

.bdh--goat {
  background-image: url('./images/friendOfGoats.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  background-position-y: 0em;
  background-position-x: 0em;
  border-radius: 1em;
  width: 12em;
  height: 18em;
}

h1 {
  line-height: 1.8em;
}

h2 {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 1.25rem;
  line-height: 2em;
}

a {
  color: black;
  &:hover {
    color: black;
  }

  &:visited {
    color: black;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  text-align: center;
  padding: 1em 0;
}

article {
  z-index: 1;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 1em;
  margin: 0 1em;
}

section {
  z-index: 1;
}

/* DESKTOP */
@media only screen and (min-width: 900px) {

  .bdh--details {
    text-decoration: none;
    text-transform: capitalize;
    position: absolute;
    font-size: 1em;
    right: 6em;
  }

  .bdh--title {
    font-size: 4em;
    margin: 0;
  }

  .bdh--item > a {
    width: 100%;
  }

  .bdh--item {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      background-image: url('./images/friendOfGoats.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 18em;
      width: 23em;
      right: 30%;
      border-radius: 2em;
      position: absolute;
      opacity: 0;
      animation: moveLeftRight 2s linear infinite;
    }

    &.bdh--work-cold-eeze::after {
      background-image: url('./images/bdh_cold_eeze_desktop.png'); 
      right: 50%;
    }

    &.bloom-b::after {
      background-image: url('./images/bloom_b.png');
    }

    &:hover {

      &::after {
        opacity: 1;
        transition: opacity 1s .2s ease-out;
      }
    }
  }
  @keyframes moveLeftRight {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px); /* Adjust the distance as needed */
    }
  }
  @-webkit-keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
  }
  @-o-keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
  }

  article {
    margin: 0 5em;
  }
}