@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.brandon-body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 1em;
}
p {
  margin: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  margin-bottom: 1em;
}

@media only screen and (min-width: 900px) {
  .brandon-body {
    margin: 3em;
  }
  header {
    margin-left: 10em;
  }
  article {
    border-radius: 4em;
    max-width: 50em;
    margin-left: 10em;
    margin-bottom: 1em;
  }
  img {
    max-width: 20em;
    border-radius: 1em;
  }
}

@media only screen and (max-width: 899px) {
  .brandon-body {
    margin: 1em;
  }
  img {
    width: 100%;
    border-radius: 1em;
  }
}
