/* @import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Lexend+Tera&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend Tera', sans-serif;
}

p {
  font-family: 'Lexend Deca', sans-serif;
}

a {
  font-size: 1.3rem;
  font-family: 'Lexend Tera', sans-serif;
  color: #333;
}

.main-area {
  border: 2rem solid #fff;
}

.bg-light {
  background-color: #efefef!important;
}

.my-portrait {
  text-align: center;
  width: 75%;
} */